<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>请假申请</title>
<!-- Bootstrap Styles-->
<link href="/springmvcproject02/assets/css/bootstrap.css"
	rel="stylesheet" />
<!-- FontAwesome Styles-->
<link href="/springmvcproject02/assets/css/font-awesome.css"
	rel="stylesheet" />
<!-- Morris Chart Styles-->
<link href="/springmvcproject02/assets/js/morris/morris-0.4.3.min.css"
	rel="stylesheet" />
<!-- Custom Styles-->
<link href="/springmvcproject02/assets/css/custom-styles.css"
	rel="stylesheet" />
<link rel="stylesheet"
	href="/springmvcproject02/assets/js/toastr/toastr.css" />
<!-- Google Fonts-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans'
	rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css"
	href="/springmvcproject02/css/index.css">
<script type="text/javascript" src="/springmvcproject02/js/vue.js"></script>
</head>

<body>
	<div id="wrapper">
		<nav class="navbar navbar-default top-navbar topdao" role="navigation">
			<topdao></topdao>
		</nav>
		<!--/. NAV TOP  -->
		<nav class="navbar-default navbar-side" role="navigation">
			<div id="sideNav" href="">
				<i class="fa fa-caret-right"></i>
			</div>
			<div class="sidebar-collapse" id="myleftMeun">
				<hm :user="user"></hm>
			</div>
		</nav>
		<!-- /. NAV SIDE  -->
		<div id="page-wrapper">
			<div id="page-inner">
				<!-- /. ROW  -->
				<div class="row">
					<div class="main">
						<!-- MAIN CONTENT -->
						<div class="main-content">
							<div class="container-fluid">
								<div id="toastr-demo" class="panel panel-default">
									<div class="panel-heading">年度报表</div>
									<div class="panel-body">
										<table class="table table-bordered">
											<caption>年度统计列表</caption>
											<thead>
												<tr>
													<th class="text-center">编号</th>
													<th class="text-center">总计</th>
													<th class="text-center">年份</th>
													<th class="text-center">操作</th>
												</tr>
											</thead>
											<tbody class='text-center'>
												<tr v-for="(year,index) in pageinfo.list">
													<td>{{index+1}}</td>
													<td>￥{{year.total}}</td>
													<td>{{year.year}}年</td>
													<td><a href="javascript:void(0);"
														@click="aclick(year)" class="btn btn-success btn-xs">查看
													</a></td>
												</tr>
											</tbody>
												<tfoot>
													<tr>
														<td colspan="8">
															<div class="row" style="padding: 0px; margin: 0px;">
																<div class="col-md-4 text-center"
																	style="padding: 6px 0px;">
																	第<span id="pageNum">{{pageinfo.pageNum}}</span>页/共<span
																		id="totle">{{pageinfo.pages}}</span>页
																</div>
																<div class="col-md-4 text-center">
																	<a href="javascript:void(0);" @click="goToPage(pageinfo.firstPage,pageinfo.pageSize)"
																		class="btn btn-default btn-sm"> <font
																		style="vertical-align: inherit;"> <font
																			style="vertical-align: inherit;">首页</font>
																	</font>
																	</a> <a href="javascript:void(0);" v-if="pageinfo.hasPreviousPage" @click="goToPage(pageinfo.prePage,pageinfo.pageSize)"
																		class="btn btn-default btn-sm"> <font
																		style="vertical-align: inherit;"> <font
																			style="vertical-align: inherit;">上一页</font>
																	</font>
																	</a> <a href="javascript:void(0);" v-if="pageinfo.hasNextPage" @click="goToPage(pageinfo.nextPage,pageinfo.pageSize)"
																		class="btn btn-default btn-sm"> <font
																		style="vertical-align: inherit;"> <font
																			style="vertical-align: inherit;">下一页</font>
																	</font>
																	</a> <a href="javascript:void(0);" @click="goToPage(pageinfo.lastPage,pageinfo.pageSize)"
																		class="btn btn-default btn-sm"> <font
																		style="vertical-align: inherit;"> <font
																			style="vertical-align: inherit;">尾页</font>
																	</font>
																	</a>
																</div>
																<div class="col-md-4 text-center"
																	style="padding: 6px 0px;">
																	共<span id="">{{pageinfo.total}}</span>条记录
																</div>
															</div>
														</td>
													</tr>
												</tfoot>
										</table>
									</div>
								</div>
							</div>
						</div>
						<!-- END MAIN CONTENT -->
					</div>
				</div>
			</div>
			<!-- /. PAGE INNER  -->
		</div>
		<!-- /. PAGE WRAPPER  -->
	</div>
	<!-- /. WRAPPER  -->
	<!-- JS Scripts-->
	<!-- jQuery Js -->
	<script src="/springmvcproject02/assets/js/jquery-1.10.2.js"></script>
	<!-- Bootstrap Js -->
	<script src="/springmvcproject02/assets/js/bootstrap.min.js"></script>

	<!-- Metis Menu Js -->
	<script src="/springmvcproject02/assets/js/jquery.metisMenu.js"></script>
	<!-- Morris Chart Js -->
	<script src="/springmvcproject02/assets/js/morris/raphael-2.1.0.min.js"></script>
	<script src="/springmvcproject02/assets/js/morris/morris.js"></script>

	<script src="/springmvcproject02/assets/js/easypiechart.js"></script>
	<script src="/springmvcproject02/assets/js/easypiechart-data.js"></script>

	<script
		src="/springmvcproject02/assets/js/Lightweight-Chart/jquery.chart.js"></script>

	<!-- Custom Js -->
	<script src="/springmvcproject02/assets/js/custom-scripts.js"></script>
	<script type="text/javascript"
		src="/springmvcproject02/assets/js/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script type="text/javascript"
		src="/springmvcproject02/assets/js/toastr/toastr.min.js"></script>
	<script type="text/javascript"
		src="/springmvcproject02/assets/js/scripts/klorofil-common.js"></script>
</body>
<script type="text/javascript"
	src="/springmvcproject02/js/vuejs/index.js"></script>
<script type="text/javascript"
	src="/springmvcproject02/js/vuejs/leftMeun.js"></script>
<script type="text/javascript" src="/springmvcproject02/js/vuejs/top.js"></script>
<script>
	var vm = new Vue({
		el : "#myleftMeun",
		data : {
			user:JSON.parse(window.sessionStorage.getItem("user"))
		}
	});
	var vm1 = new Vue({
		el : ".topdao"
	});
</script>
<script>
	var vmmian = new Vue({
		data : {
			user : JSON.parse(window.sessionStorage.getItem("user")),
			pageinfo:{}
		},
		methods:{
			goToPage(n,s){
     			let _this=this;
     			$.getJSON(`/springmvcproject02/api/CountServlet/years/${n}/${s}`,function(Pro){
     				console.log(Pro)
     				_this.pageinfo=Pro;
     			});
     		},
     		aclick(year) {	
     			window.sessionStorage.setItem("year",JSON.stringify(year));
     			location.href="/springmvcproject02/ui/ReportForms/YearView.html";
			}
     			
		},mounted(){
     		let _this=this;
     		_this.goToPage(1,10);
     	}

	}).$mount(".panel-body");
</script>

</html>
